{% extends 'base.html' %}

    {% block detail %}
        <div class="btn-group" role="group" aria-label="Basic mixed styles example" id="crud">
          <a href="{{ post.get_delete_url }}"><button type="button" class="btn btn-danger">Удалить пост</button></a>
            <a href="{{ post.get_update_url }}"><button type="button" class="btn btn-success">Изменить пост</button></a>
        </div>
            <img class="img-responsive img-border img-left" src="{{ post.image.url }}" alt="img">
            <p>{{ post.title }}</p>
            <p>{{ post.author }}</p>
            <p>{{ post.date_pub }}</p>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-success"><p>Likes: {{ post.likes.count }} <a href="{{ post.get_like_url }}">like</a></p></button>
            </div>
            <p>{{ post.comments }}</p>
            <p>{{ post.body }}</p>
    {% endblock %}


